# IDE files

.idea/
.vscode/
server/.project
server/.settings/
server/*.iml

# Dependencies

*/node_modules/
*/package-lock.json
server/.m2/

# Build output

target/
server/dependency-reduced-pom.xml
client/dist/
*.class

# Newman

bin/newman
